.theme-dark,
.theme-dark *{
    color: #fff;
}

.theme-bg-gray{
    background-color: #cac8c8;
}

.theme-bg-darkgray{
    background-color: #a2a1a1;
}

.card{
    
}

.card-body{
    padding: 30px;
}



.page-header {
    background: #c00;
}

.page-header h1 {
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 400;
}

.page-header h2 {
    font-size: 1em;
    font-weight: 300;
}


.main-content h1, .main-content h2{
    color: #333;
}

.main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    color: #c00;
}

@media screen and (min-width: 768px){

    .page-header h1 {
        font-size: 24px;
    }
    
    .main-content {
        font-size: 1.125rem;
    }
}