.page-header {
    background: #c00;
}

.page-header h1{
    font-size: 30px;
    text-transform: uppercase;
}

.main-content h1, .main-content h2{
    color: #333;
}

.main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    color: #c00;
}

@media screen and (min-width: 64em){
    .main-content {
        font-size: 1.125rem;
    }
}